/* Forms */
.search-form {
    display: flex;
    padding: 5px 0;
}
.search-form .form-item {
    width: 100%;
}
.search-form .button-empty {
    color: var(--color-white-normal);
}

.form-base {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid var(--color-white);
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(50,50,50,0.08);
    box-shadow: 0 1px 3px rgba(50,50,50,0.08);
    min-width: 350px;
}

.form-base .form-item {
    border-bottom: 1px solid  var(--color-white-normal);
    margin: 10px 0;
    padding: 15px 5px;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form-base .form-item.error {
    border-bottom: 4px solid var(--color-red-normal);
}

.form-base .form-item label {
    margin: 0 2%;
    flex: 1 0 6%;
    align-self: center;
    display: flex;
}

.form-base .form-item .validation-result {
    margin: 2%;
    color: var(--color-red-normal);
    width: 100%;
    font-size: 0.75em;
}
.form-base .form-submit {
    margin: 10px;
}

.form-base .form-submit input[type="submit"] {
    cursor: pointer;
    border: 0 none;
    background-color: var(--color-black-normal);
    color: #fff;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 11px 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 18px auto;
    font-weight: bold;
}

.form-base .form-submit input[type="submit"]:hover {
    background-color: var(--color-blue-normal);
    transition: all 0.1s ease-in-out 0s;
}

.form-base input {
    border-radius: 2px;
    outline: 0;
    padding: 2%;
    border-width: 0;
    font-size: 1em;
    width: 100%;
    background-color: inherit;
    color: var(--color-gray-normal);
    flex: 1 0 85%;
}

/* End Forms */
